<div class='container-fluid mt-2'>
  <%= form_with(model: entry, local: true) do |form| %>
  <% if entry.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

    <ul>
      <% entry.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="row justify-content-center m-4">
    <div class="collapse w-100" id="datetime-select">
      <div class="form-group date-of-report border border-secondary">
        <legend class='text-center'>
          <%= form.label :date_of_report, 'What date and time are you reporting this for?'%>
        </legend>
        <div class="row justify-content-center w-100">

          <%= form.datetime_select :date_of_report, {order: [:month, :day, :year],datetime_separator:""},{class: 'datetimepicker align-text-center col-2 m-2', id:"datetime-select"} %>

        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#datetime-select" aria-expanded="false" aria-controls="datetime-select">
      Select a Different Date for my Report
    </button>
  </div>



  <div class='form-group mood border border-secondary'>
    <%= form.fields_for :mood, @entry.mood do |mood_form| %>
    <legend class='text-center'>
      <%= mood_form.label :score, 'How do you feel today?'%>
    </legend>
    <div class='row mx-1 align-items-center '>
      <div class='col-3 '>
        <p class='bar-lables m-0'>Depressed</p>
      </div>
      <div class='col-6'>
        <%= mood_form.range_field :score, in: 1..10, class: 'form-control-range' %>
      </div>
      <div class='col-3'>
        <p class='bar-lables m-0'>Manic</p>
      </div>
    </div>
    <% end %>
  </div>

  <div class='form-group effectiveness border border-secondary'>
    <%= form.fields_for :effectiveness, @entry.effectiveness do |eff_form| %>
    <legend class='text-center'>
      <%= eff_form.label :score, 'How effective was your medicine today?'%>
    </legend>
    <div class='row mx-1 align-items-center'>
      <div class='col-3'>
        <p class='bar-lables m-0'>No Effect</p>
      </div>
      <div class='col-6 justify-text-center'>
        <%= eff_form.range_field :score, in: 1..10, 
                                      class: 'form-control-range' %>
      </div>
      <div class='col-3'>
        <p class='bar-lables m-0'>Too Effective</p>
      </div>
    </div>
    <% end %>
  </div>

  <div class='form-group side-effects border border-secondary'>
    <div class="btn-group-toggle" data-toggle="buttons">
      <legend class='text-center'>Check any side effects you felt today:</legend>
      <div class='row justify-content-center'>
        <%= form.collection_check_boxes( :side_effect_ids, SideEffect.all, :id, :titleize_effect) do |b|%>
        <div class='col-3 m-3'>
          <%= b.label(class: "btn btn-primary btn-block"){ b.check_box(class: 'hidden-checkbox') +  b.text } %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="actions row justify-content-center">
    <%= form.submit "Add to Your History", class: 'btn btn-info btn-lg text-nowrap m-3' %>
  </div>
  <% end %>
</div>
</div>

f.input :name, as: :button, input_html: { class: 'btn btn-primary btn-block' }