
  <%= form_with(model: entry, local: true) do |form| %>
    <% if entry.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

        <ul>
          <% entry.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
<fieldset class= "justify-content-center">
    <div class="field">
      <%= form.label :date_of_report, 'What date and time are you reporting this for?' %>
      <%= form.datetime_select :date_of_report %>
    </div>
    <div class= 'form-group mood'>
      <%= form.fields_for :mood, @entry.mood do |mood_form| %>
        <legend>
        <%= mood_form.label :score, 'How do you feel today?'%>
        </legend>
        <div class='row mx-1'>
          <div class='col-2'>
            <p class='bar-lables'>Depressed</p>
          </div>
          <div class='col-8 justify-text-center'>
            <%= mood_form.range_field :score, in: 1..10 %>
          </div>
          <div class='col-2'>
            <p class='bar-lables'>Manic</p>
          </div>
        </div>
      </div>
    <% end %>
    <div class= 'form-group effectiveness'>
      <%= form.fields_for :effectiveness, @entry.effectiveness do |eff_form| %>
        <legend>
        <%= eff_form.label :score, 'How effective was your medicine today?'%>
        </legend>
        <%= eff_form.range_field :score, in: 1..10 %>
      <% end %>
    </div>

    <%= form.fields_for :side_effect, @entry.side_effect do |se_form| %>
      <legend>Check any side effects you felt today:</legend>
      <div class= 'form-check side-effects'>
        <% @side_effect_list.map do |effect| %>
            <%= se_form.check_box(:list, {}, effect, false) %>
            <%= se_form.label(:list, effect)%>
        <% end %>
      </div>
    <% end %>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>
