<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @entry.user_id %>
</p>
<p>
  <strong>Date of report:</strong>
  <%= @entry.date_of_report %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
